# Node
node_modules/
package-lock.json

# Clasp / Google Script
appsscript-token.json
script-id.txt
.clasp.json
.claspignore

# Environment / system
*.env
*.log
.DS_Store
.vscode/

# Build or dev files
dist/
build/
Dockerfile
.dockerignore

# Trained data files
*.traineddata

# GitHub and project configs
.github/
